@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    position: relative;
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
}

.pokedex {
    width: 100%;
    max-width: 425px;
    min-width: 250px;
}

.pokemon_image {
    position: absolute;
    left: 28.5%;
    bottom: 46%;
    height: 25%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    bottom: 39%;
    left: 30%;
    font-size: clamp(15px, 5vw, 25px);
    
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.forms {
    position: absolute;
    width: 63%;
    left: 15%;
    bottom: 20%;
    
}

.input {
    width: 100%;
    padding: 3%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(10px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}


.buttons {
    position: absolute;
    width: 63%;
    left: 15%;
    bottom: 12%;
}

.button {
    width: 30%;
    max-height: 38px;
    padding: 3%;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(10px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.entrar {
    font-size: clamp(8px, 2vw, 1rem);
    margin-top: 10px;
    height: 30px;
    
}